@model Product

<div class="card mb-4">
    <div class="card-header">
        @Model.Name
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>@Model.Price $</p>
        </blockquote>
    </div>
</div>